.classpath
.project
*.class
*.wyil
*.wyasm
*.wycs
*~
*.c
*.o
*.jar
output/wycs/solver/Solver.wyrl
output/wycs/core/Types.wyrl
*.whiley
examples/wyal/hello-world.wyal
*.wyal
output/wycs/solver/Arithmetic.wyrl
/output
