*.class
*.wyil
*.wyasm
# Added *.wycs files 
*~
*.o
wybs-*.jar
wyc-*.jar
wycc-*.jar
wycs-*.jar
wyil-*.jar
wyjc-*.jar
wyopcl-*.jar
wyrt-*.jar
*.out
*.exe
/output
/.metadata
/.settings
/build/
/report/
/junit/
