/modules/wycs/src/wycs/core/Types.java
/modules/wycs/src/wycs/solver/Solver.java
*.wycs
*.class
*.wyil
*.wyasm
*~
*.o
*.a
wybs-*.jar
wyc-*.jar
wycc-*.jar
wycs-*.jar
wyil-*.jar
wyjc-*.jar
wyopcl-*.jar
wyrt-*.jar
wyboogie-*.jar
*.out
*.exe
/output
/.metadata
/.settings
/build/
/report/
/junit/
/benchmarks/LZ77/Inputfiles/medium10000x.in
/benchmarks/LZ77/Inputfiles/medium20000x.in
/benchmarks/LZ77/Inputfiles/medium30000x.in
/benchmarks/LZ77/Inputfiles/medium40000x.in
/benchmarks/LZ77/Inputfiles/medium50000x.in
/benchmarks/LZ77/Inputfiles/medium60000x.in
/benchmarks/LZ77/Inputfiles/medium70000x.in
/benchmarks/LZ77/Inputfiles/medium80000x.in
/benchmarks/LZ77/Inputfiles/medium90000x.in
/benchmarks/LZ77/Inputfiles/medium100000x.in
/benchmarks/LZ77/Outputfiles/medium10000x.dat
/benchmarks/LZ77/Outputfiles/medium20000x.dat
/benchmarks/LZ77/Outputfiles/medium30000x.dat
/benchmarks/LZ77/Outputfiles/medium40000x.dat
/benchmarks/LZ77/Outputfiles/medium50000x.dat
/benchmarks/LZ77/Outputfiles/medium60000x.dat
/benchmarks/LZ77/Outputfiles/medium70000x.dat
/benchmarks/LZ77/Outputfiles/medium80000x.dat
/benchmarks/LZ77/Outputfiles/medium90000x.dat
/benchmarks/LZ77/Outputfiles/medium100000x.dat
